INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (35, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''incident''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.incident_AuditLog where [objectid_entitytype]=''incident''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'incident_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (25, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_affectedaccount''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_affectedaccount_AuditLog where [objectid_entitytype]=''wnzl_affectedaccount''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_affectedaccount_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (17, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''queue''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.queue_AuditLog where [objectid_entitytype]=''queue''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'queue_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (34, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_merchantrequest''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_merchantrequest_AuditLog where [objectid_entitytype]=''wnzl_merchantrequest''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_merchantrequest_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (30, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_cardholdersupportcasedetail''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_cardholdersupportcasedetail_AuditLog where [objectid_entitytype]=''wnzl_cardholdersupportcasedetail''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_cardholdersupportcasedetail_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (32, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_documentjob''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_documentjob_AuditLog where [objectid_entitytype]=''wnzl_documentjob''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_documentjob_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (26, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_documentgenerationconfiguration''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_documentgenerationconfiguration_AuditLog where [objectid_entitytype]=''wnzl_documentgenerationconfiguration''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_documentgenerationconfiguration_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (20, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''account''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.account_AuditLog where [objectid_entitytype]=''account''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'account_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (16, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_merchantcasedetail''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_merchantcasedetail_AuditLog where [objectid_entitytype]=''wnzl_merchantcasedetail''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_merchantcasedetail_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (28, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''approvalstagecondition''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.approvalstagecondition_AuditLog where [objectid_entitytype]=''approvalstagecondition''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'approvalstagecondition_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (19, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''opportunity''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.opportunity_AuditLog where [objectid_entitytype]=''opportunity''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'opportunity_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (29, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_requesttypeteamconfig''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_requesttypeteamconfig_AuditLog where [objectid_entitytype]=''wnzl_requesttypeteamconfig''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_requesttypeteamconfig_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (21, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''organization''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.organization_AuditLog where [objectid_entitytype]=''organization''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'organization_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (24, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_docusigntemplate''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_docusigntemplate_AuditLog where [objectid_entitytype]=''wnzl_docusigntemplate''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_docusigntemplate_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (36, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_documenttype''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_documenttype_AuditLog where [objectid_entitytype]=''wnzl_documenttype''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_documenttype_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (23, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_westpacdirectcasedetail''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_westpacdirectcasedetail_AuditLog where [objectid_entitytype]=''wnzl_westpacdirectcasedetail''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_westpacdirectcasedetail_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (37, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_merchantrates''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_merchantrates_AuditLog where [objectid_entitytype]=''wnzl_merchantrates''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_merchantrates_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (18, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_casedetail''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_casedetail_AuditLog where [objectid_entitytype]=''wnzl_casedetail''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_casedetail_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (38, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_merchantproducts''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_merchantproducts_AuditLog where [objectid_entitytype]=''wnzl_merchantproducts''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_merchantproducts_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (33, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_requesttypeconfig''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_requesttypeconfig_AuditLog where [objectid_entitytype]=''wnzl_requesttypeconfig''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_requesttypeconfig_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (31, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_rework''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_rework_AuditLog where [objectid_entitytype]=''wnzl_rework''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_rework_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (22, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''wnzl_merchantpricingmatrix''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.wnzl_merchantpricingmatrix_AuditLog where [objectid_entitytype]=''wnzl_merchantpricingmatrix''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'wnzl_merchantpricingmatrix_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
INSERT [ELT].[MainControl] ([ELTControlID], [SourceSystem], [SourceSystemType], [SourceEntityPath], [SourceTableSchemaName], [SourceTableName], [SourceQuery], [SourceQueryWhereClause], [WaterMarkQuery], [WaterMarkValue], [IncrementalClauseQuery], [TargetSystemType], [TargetTableSchemaName], [TargetTableName], [TargetEntityPath], [StoredProcName], [IncrementalLoad], [IndexRebuildFactor], [IsActive], [SourceColumnDelimiter], [FirstRowAsHeader], [PostScriptProcedure]) VALUES (27, N'WorkbenchAudit', N'SQL', NULL, N'Workbench', N'vw_AuditLogs', N'
									SELECT *,getdate() as ODSLastUpdateTime, ''{PipelineID}'' as ODSPipelineID
									  FROM [Workbench].[vw_AuditLogs] 
									  where [objectid_entitytype]=''queueitem''', NULL, N'SELECT ISNULL(MAX([SinkModifiedOn]),''{WaterMarkValue}'') FROM Workbench.queueitem_AuditLog where [objectid_entitytype]=''queueitem''', N'1900-01-01', N'[SinkModifiedOn] > Cast (''{WaterMarkValue}'' as datetime2 )', N'SQL', N'Workbench', N'queueitem_AuditLog', NULL, NULL, 1, NULL, 0, NULL, NULL, NULL)
GO
