/****** Object:  StoredProcedure [config].[GenerateMetadataToConfigTable]    Script Date: 13/06/2025 5:17:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [config].[GenerateMetadataToConfigTable] @TableCatalog [NVARCHAR](255),@TableSchema [NVARCHAR](255),@TableName [NVARCHAR](255),@AuditPrefix [NVARCHAR](20) AS
begin
/*
DECLARE @TableCatalog NVARCHAR(255) = 'Workbench';
DECLARE @TableSchema NVARCHAR(255) = 'dbo';
DECLARE @TableName NVARCHAR(255) = 'incident';
DECLARE @AuditPrefix NVARCHAR(20) = 'ODS'; -- Prefix for audit columns
Exec Config.GenerateMetadataToConfigTable
@TableCatalog=@TableCatalog
,@TableSchema =@TableSchema 
,@TableName 	 =@TableName 
,@AuditPrefix =@AuditPrefix 

*/

DELETE FROM config.MDPTables WHERE TableCatalog=@TableCatalog and TableSchema=@TableSchema and tablename=@TableName;

DECLARE @StageTable NVARCHAR(255) = CONCAT('Landing.', @TableCatalog, 'Stage', @TableName);
DECLARE @ODSTable NVARCHAR(255) = CONCAT(@TableCatalog, 'ODS', @TableName);

-- Temp table for source column metadata
IF OBJECT_ID('tempdb..#Columns') IS NOT NULL DROP TABLE #Columns;

SELECT 
    OrdinalPosition,
    ColumnName,
    DataType,
    MaxLength,
    Precision,
    Scale,
    CASE WHEN LOWER(LTRIM(RTRIM(CAST(IsPrimary AS VARCHAR(10))))) IN ('yes', 'y', '1', 'true') THEN 1 ELSE 0 END AS IsPrimary,
    CASE WHEN LOWER(LTRIM(RTRIM(CAST(PII_PCI_Flag AS VARCHAR(10))))) IN ('yes', 'y', '1', 'true') THEN 1 ELSE 0 END AS IsPII
INTO #Columns
FROM config.vw_D365MetadataLookup
WHERE TableCatalog = @TableCatalog
  AND TableSchema = @TableSchema
  AND TableName = @TableName;

-- Declare accumulation variables
DECLARE 
    @ODSColumns NVARCHAR(MAX) = '',
    @CoalesceColumns NVARCHAR(MAX) = '',
    @StageColumns NVARCHAR(MAX) = '',
    @ODSMergeJoinClauseScript NVARCHAR(MAX) = '',
    @ODSType1MergeColUpdateExpression NVARCHAR(MAX) = '',
    @ODSCreateTableScript NVARCHAR(MAX) = '',
    @StageCreateTableScript NVARCHAR(MAX) = '',
    @ODSCreateErrorTableScript NVARCHAR(MAX) = '',
    @ODSPrimaryKeyColDefScript NVARCHAR(MAX) = '',
    @ODSSelectQueryScript NVARCHAR(MAX) = '',
    @StageSelectQueryScript NVARCHAR(MAX) = '',
    @ODSSelectPrimaryKeyScript NVARCHAR(MAX) = '',
    @ODSMergeColMetadataScript NVARCHAR(MAX) = '';

-- Loop over column metadata
DECLARE @OrdinalPosition INT = 1;
DECLARE @Total INT = (SELECT MAX(OrdinalPosition) FROM #Columns);

WHILE @OrdinalPosition <= @Total
BEGIN
    DECLARE @ColumnName NVARCHAR(255), @DataType NVARCHAR(100), @IsPrimary BIT, @IsPII BIT;
    DECLARE @MaxLength INT, @Precision INT, @Scale INT;

    SELECT TOP 1 
        @ColumnName = ColumnName,
        @DataType = DataType,
        @MaxLength = MaxLength,
        @Precision = Precision,
        @Scale = Scale,
        @IsPrimary = IsPrimary,
        @IsPII = IsPII
    FROM #Columns
    WHERE OrdinalPosition = @OrdinalPosition;

    -- Construct data type string with length/precision/scale if applicable
    DECLARE @DataTypeString NVARCHAR(100);
    SET @DataTypeString = 
        CASE 
            WHEN @DataType IN ('varchar', 'nvarchar', 'char') AND @MaxLength IS NOT NULL THEN CONCAT(@DataType, '(', CASE WHEN @MaxLength = -1 THEN 'MAX' ELSE CAST(@MaxLength AS VARCHAR) END, ')')
            WHEN @DataType IN ('decimal', 'numeric') AND @Precision IS NOT NULL AND @Scale IS NOT NULL THEN CONCAT(@DataType, '(', @Precision, ',', @Scale, ')')
            ELSE @DataType
        END;

    -- Collect columns for ODS excluding PII
    IF @IsPII = 0
        SET @ODSColumns = CASE WHEN LEN(@ODSColumns) = 0 THEN QUOTENAME(@ColumnName) ELSE CONCAT(@ODSColumns, ', ', QUOTENAME(@ColumnName)) END;

    -- All columns for Stage table
    SET @StageColumns = CASE WHEN LEN(@StageColumns) = 0 THEN QUOTENAME(@ColumnName) ELSE CONCAT(@StageColumns, ', ', QUOTENAME(@ColumnName)) END;

    -- If primary key, accumulate relevant expressions
    IF @IsPrimary = 1
    BEGIN
        SET @CoalesceColumns = CASE WHEN LEN(@CoalesceColumns) = 0 THEN CONCAT('COALESCE(src.', QUOTENAME(@ColumnName), ', inserted.', QUOTENAME(@ColumnName), ')') ELSE CONCAT(@CoalesceColumns, ', COALESCE(src.', QUOTENAME(@ColumnName), ', inserted.', QUOTENAME(@ColumnName), ')') END;
        SET @ODSMergeJoinClauseScript = CASE WHEN LEN(@ODSMergeJoinClauseScript) = 0 THEN CONCAT('src.', QUOTENAME(@ColumnName), ' = trg.', QUOTENAME(@ColumnName)) ELSE CONCAT(@ODSMergeJoinClauseScript, ' AND src.', QUOTENAME(@ColumnName), ' = trg.', QUOTENAME(@ColumnName)) END;
        SET @ODSPrimaryKeyColDefScript = CASE WHEN LEN(@ODSPrimaryKeyColDefScript) = 0 THEN CONCAT(QUOTENAME(@ColumnName), ' ', @DataTypeString) ELSE CONCAT(@ODSPrimaryKeyColDefScript, ', ', QUOTENAME(@ColumnName), ' ', @DataTypeString) END;
    END
    ELSE IF @IsPII = 0
        SET @ODSType1MergeColUpdateExpression = CASE WHEN LEN(@ODSType1MergeColUpdateExpression) = 0 THEN CONCAT('trg.', QUOTENAME(@ColumnName), ' = src.', QUOTENAME(@ColumnName)) ELSE CONCAT(@ODSType1MergeColUpdateExpression, ', trg.', QUOTENAME(@ColumnName), ' = src.', QUOTENAME(@ColumnName)) END;

    -- Build create table columns for ODS, Stage, Error
    SET @ODSCreateTableScript = CASE WHEN LEN(@ODSCreateTableScript) = 0 THEN CONCAT(QUOTENAME(@ColumnName), ' ', @DataTypeString) ELSE CONCAT(@ODSCreateTableScript, ', ', QUOTENAME(@ColumnName), ' ', @DataTypeString) END;
    SET @StageCreateTableScript = CASE WHEN LEN(@StageCreateTableScript) = 0 THEN CONCAT(QUOTENAME(@ColumnName), ' ', @DataTypeString) ELSE CONCAT(@StageCreateTableScript, ', ', QUOTENAME(@ColumnName), ' ', @DataTypeString) END;
    SET @ODSCreateErrorTableScript = CASE WHEN LEN(@ODSCreateErrorTableScript) = 0 THEN CONCAT(QUOTENAME(@ColumnName), ' ', @DataTypeString) ELSE CONCAT(@ODSCreateErrorTableScript, ', ', QUOTENAME(@ColumnName), ' ', @DataTypeString) END;

    -- Build select queries
    SET @ODSSelectQueryScript = CASE WHEN LEN(@ODSSelectQueryScript) = 0 THEN QUOTENAME(@ColumnName) ELSE CONCAT(@ODSSelectQueryScript, ', ', QUOTENAME(@ColumnName)) END;
    SET @StageSelectQueryScript = CASE WHEN LEN(@StageSelectQueryScript) = 0 THEN QUOTENAME(@ColumnName) ELSE CONCAT(@StageSelectQueryScript, ', ', QUOTENAME(@ColumnName)) END;
    IF @IsPrimary = 1
        SET @ODSSelectPrimaryKeyScript = CASE WHEN LEN(@ODSSelectPrimaryKeyScript) = 0 THEN QUOTENAME(@ColumnName) ELSE CONCAT(@ODSSelectPrimaryKeyScript, ', ', QUOTENAME(@ColumnName)) END;

    -- Build merge update expressions
    SET @ODSMergeColMetadataScript = CASE WHEN LEN(@ODSMergeColMetadataScript) = 0 THEN CONCAT('WHEN MATCHED THEN UPDATE SET trg.', QUOTENAME(@ColumnName), ' = src.', QUOTENAME(@ColumnName)) ELSE CONCAT(@ODSMergeColMetadataScript, ', trg.', QUOTENAME(@ColumnName), ' = src.', QUOTENAME(@ColumnName)) END;

    SET @OrdinalPosition += 1;
END;

-- Add audit columns from config.auditcolumns using configurable prefix
DECLARE @ODSCreateTableAuditScript NVARCHAR(MAX), @ODSCreateErrorAuditScript NVARCHAR(MAX);

SELECT 
    @ODSCreateTableAuditScript = STRING_AGG(
        CONCAT(', ', QUOTENAME(@AuditPrefix + REPLACE(ColumnName, '{TableName}', @TableName)), ' ', DataType), 
        CHAR(13) + CHAR(10)
    ),
    @ODSCreateErrorAuditScript = STRING_AGG(
        CONCAT(', ', QUOTENAME(@AuditPrefix + REPLACE(ColumnName, '{TableName}', @TableName)), ' ', DataType ), 
        CHAR(13) + CHAR(10)
    )
FROM config.auditcolumns
WHERE IsSCDType1 = 1;

-- Append audit columns to CREATE TABLE scripts
SET @ODSCreateTableScript = CONCAT(@ODSCreateTableScript, @ODSCreateTableAuditScript);
SET @ODSCreateErrorTableScript = CONCAT(@ODSCreateErrorTableScript, @ODSCreateErrorAuditScript, ', [Error_Field] VARCHAR(200), [Error_Message] VARCHAR(MAX)');

-- Extract just the primary key column names (remove types)
DECLARE @PKColumnsOnly NVARCHAR(MAX) = '';

IF OBJECT_ID('tempdb..#PKColumns') IS NOT NULL DROP TABLE #PKColumns;
CREATE TABLE #PKColumns (ColumnDef NVARCHAR(255));

INSERT INTO #PKColumns (ColumnDef)
SELECT LTRIM(RTRIM(value)) 
FROM STRING_SPLIT(@ODSPrimaryKeyColDefScript, ',');

SELECT @PKColumnsOnly = STRING_AGG(
    LEFT(ColumnDef, CHARINDEX(' ', ColumnDef + ' ') - 1), ', '
)
FROM #PKColumns;

DROP TABLE #PKColumns;

-- Compose full CREATE TABLE scripts
SET @ODSCreateTableScript = CONCAT(
    'CREATE TABLE ', QUOTENAME(@TableCatalog), '.', QUOTENAME(@TableName), ' (', CHAR(13), CHAR(10),
    @ODSCreateTableScript
    , CHAR(13), CHAR(10),
    ') WITH (HEAP, DISTRIBUTION = ROUND_ROBIN);; '
);

SET @StageCreateTableScript = CONCAT(
    'CREATE TABLE ', @StageTable, ' (', CHAR(13), CHAR(10),
    @StageCreateTableScript, CHAR(13), CHAR(10),
    ') WITH (HEAP, DISTRIBUTION = ROUND_ROBIN);;'
);

SET @ODSCreateErrorTableScript = CONCAT(
    'CREATE TABLE ', QUOTENAME(@TableCatalog), '.', QUOTENAME(@TableName + '_Error'), ' (', CHAR(13), CHAR(10),
    @ODSCreateErrorTableScript, CHAR(13), CHAR(10),
    ') WITH (HEAP, DISTRIBUTION = ROUND_ROBIN);;'
);

set @StageSelectQueryScript=CONCAT(
    'Select ', @StageSelectQueryScript,' From ', CHAR(13), CHAR(10),
    @TableSchema,'.',@TableName, CHAR(13), CHAR(10),
    ';'
);

-- Final insert into metadata table

-- Debug
--SELECT * FROM config.MDPTables WHERE TableName = @TableName;
--SELECT * FROM #Columns ORDER BY OrdinalPosition;

end